<template>
  <div class="product-form-container">
    <form id="product-form">
      <h3>Add Product</h3>
      <input placeholder="Title" type="text" tabindex="1" required v-model="title"> 
      <input placeholder="Price" type="number" tabindex="2" required v-model="price">
      <input placeholder="Category" type="text" tabindex="3" required v-model="category">
      <input placeholder="Image Url" type="url" tabindex="4" required v-model="imageUrl">
      <input placeholder="Description" tabindex="5" required v-model="description">
      <button>Add Product</button>
    </form>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
})
export default class ProductForm extends Vue {
  private title: string | undefined
  private price: number | undefined
  private category: string | undefined
  private imageUrl: string | undefined
  private description: string | undefined
}
</script>

<style scoped lang="scss"></style>
