<template>
  <div class="product-list">
    <h3>Products</h3>
    <table class="product-list__product-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Price</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in products" :key="product.id">
          <td>{{ product.title }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.category }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { Vue } from "vue-class-component";
import { Product } from "../models/product";
import { fakeStoreService } from "../services/FakeStoreService";

export default class ProductList extends Vue {
  private products: Product[] = [];

  async mounted(): Promise<void> {
    this.products = await fakeStoreService.getProducts();
  }
}
</script>

<style scoped lang="scss"></style>
