<template>
  <div class="container">
    <product-form />
    <product-list />
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import ProductList from "../components/ProductList.vue";
import ProductForm from "../components/ProductForm.vue";

@Options({ components: { ProductList, ProductForm } })
export default class Products extends Vue {}
</script>
<style lang="scss" scoped>
</style>
