<template>
  <div class="store">
    <h1>Aspenware Fake Store</h1>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  components: {},
})
export default class Store extends Vue {}
</script>
